body {
  background: black;
}

.outer-container {
  margin: auto;
  max-width: 580px;
  overflow: hidden;
}
.container {
  display: flex;
  width: 600px;
  margin: auto;
  margin: auto;
  height: 96px;
  align-items: flex-end;
  margin-top: 100px;
  animation: slide 0.3s infinite linear;
}

.bar {
  width: 15px;
  height: 50px;
  background: greenyellow;
  border: 1px solid black;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-15px);
  }
}
